body {
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 99%;
    z-index: -1;
    background-image:linear-gradient(115deg, rgba(250, 227, 173, 0.75), rgba(245, 228, 153, 0.75)), url(https://i.ytimg.com/vi/mSfAObIAcPk/maxresdefault.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#title {
    text-align: center;
    font-family: 'Scada', sans-serif;
    font-size: 2.5em;
    color: #262b2b;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#description {
    text-align: center;
    border-top: 0px;
    margin-top: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: #262b2b;
}

form {
    background-color: #487aa3af;
    border-radius: 0.7em;
    padding: 3em 3em;
    background-size: cover;
    margin: 0.35em 16em;
    margin-bottom: 2em;
}

#name-label, 
#email-label, 
#number-label,
#bormot,
#chei,
#best,
#smth {
    display: flex;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    font-family: 'Scada', sans-serif;
    font-size: 2em;
    color: #262b2b;
}

#name,
#email,
#number,
#dropdown {
    display: block;
    width: 100%;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 6px, 12px;
    color: #5f787b;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #262b2b;
    font-family: 'Comfortaa', cursive;
}

#dropdown {
    font-size: 1.2em;
    width: 100.6%;
}

::placeholder {
    padding: 6px 12px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    color: #5f787b;
}

#here {
    display: flex;
    flex-direction: column;
}

#rus,
#ua,
#broke,
#poh,
#gp,
#kh,
#kv,
#cer,
#nn {
    display: inline-block;
    min-height: 1.5em;
    min-width: 1.5em;
}

#cho {
    font-family: 'Comfortaa', cursive;
    font-size: 1.25em;
    color: #262b2b;
}

#comm {
    width: 99%;
    min-height: 10em;
    padding: 0.5em;
}

#submit {
    display: block;
    border-radius: 0.5em;
    width: 50%;
    min-height: 4em;
    margin-top: 1em;
    text-align: center;
    margin-left: 25%;
    background-color: #eab354;
    font-family: 'Scada', sans-serif;
    font-size: 1.3em;
    padding: 0px;
    color: #262b2b;
}
